In [5]:
import pandas as pd

In [2]:
#Criando uma lista
data = [[9, 6 ,3],
        [8, 5, 2],
        [7, 4, 1]]

In [8]:
data

[[9, 6, 3], [8, 5, 2], [7, 4, 1]]

In [10]:
#Criando dataframe
df = pd.DataFrame(data, list('ZXY'), list('CBA'))

In [12]:
df

   C  B  A
Z  9  6  3
X  8  5  2
Y  7  4  1

In [13]:
#O código executa porém não mostra nenhuma manipulação
df.sort_index()
df.sort_index(axis = 1)
df

   C  B  A
Z  9  6  3
X  8  5  2
Y  7  4  1

In [30]:
#Para isso preciso usar o inplace
df.sort_index(axis = 1, inplace = True)
df

   A  B  C
Z  3  6  9
X  2  5  8
Y  1  4  7