In [10]:
import pandas as pd

#Criando uma lista 'numeros' com range de 10
#Criando uma lista de 'lestra' com range de 10

numeros = [i for i in range(11)]
letras = [chr(i + 65) for i in range(11)]
nome_coluna = ['N']

df = pd.DataFrame(data = numeros, index = letras, columns = nome_coluna)

In [13]:
#Criando uma condição que retorne True somente numeros pares
selecao = df['N'].isin([i for i in range(11) if i % 2 == 0])
df = df[selecao]
df

    N
A   0
C   2
E   4
G   6
I   8
K  10

In [8]:
numeros

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [9]:
letras

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K']

In [11]:
nome_coluna

['N']

In [12]:
selecao

A     True
B    False
C     True
D    False
E     True
F    False
G     True
H    False
I     True
J    False
K     True
Name: N, dtype: bool