In [1]:
import pandas as pd

In [7]:
#Criando um series a partir de uma lista
s = pd.Series(list('asafdfdfdsghasasas'))
s

0     a
1     s
2     a
3     f
4     d
5     f
6     d
7     f
8     d
9     s
10    g
11    h
12    a
13    s
14    a
15    s
16    a
17    s
dtype: object

In [8]:
#Contar quais caracteres tem nessa Series sem repetir
s.unique()

array(['a', 's', 'f', 'd', 'g', 'h'], dtype=object)

In [9]:
#Conta quantos caracteres apareceu em uma Series
s.value_counts()

a    5
s    5
f    3
d    3
g    1
h    1
dtype: int64

In [10]:
dados = pd.read_csv('Datas/aluguel.csv', sep=';')

In [12]:
dados.Tipo.unique()

array(['Apartamento', 'Casa', 'Casa de Condomínio', 'Casa de Vila',
       'Quitinete'], dtype=object)

In [15]:
dados.Tipo.value_counts()

Apartamento           16923
Casa de Condomínio      964
Casa                    898
Quitinete               813
Casa de Vila            233
Name: Tipo, dtype: int64