In [2]:
import pandas as pd

In [4]:
data = [0.5, None, None, 0.52, 0.54, None, None, 0.59, 0.56, None, 0.7]
s = pd.Series(data)

In [5]:
s

0     0.50
1      NaN
2      NaN
3     0.52
4     0.54
5      NaN
6      NaN
7     0.59
8     0.56
9      NaN
10    0.70
dtype: float64

In [6]:
#Trocando Valores nulos por 0
s.fillna(0)

0     0.50
1     0.00
2     0.00
3     0.52
4     0.54
5     0.00
6     0.00
7     0.59
8     0.56
9     0.00
10    0.70
dtype: float64

In [8]:
s

0     0.50
1      NaN
2      NaN
3     0.52
4     0.54
5      NaN
6      NaN
7     0.59
8     0.56
9      NaN
10    0.70
dtype: float64

In [7]:
#ffill pega o valor anterior e joga para o valor nulo sucessor a ele
s.fillna(method = 'ffill')

0     0.50
1     0.50
2     0.50
3     0.52
4     0.54
5     0.54
6     0.54
7     0.59
8     0.56
9     0.56
10    0.70
dtype: float64

In [10]:
s

0     0.50
1      NaN
2      NaN
3     0.52
4     0.54
5      NaN
6      NaN
7     0.59
8     0.56
9      NaN
10    0.70
dtype: float64

In [9]:
#ffill pega o valor sucessor e joga para o valor nulo antecessor a ele
s.fillna(method = 'bfill')

0     0.50
1     0.52
2     0.52
3     0.52
4     0.54
5     0.59
6     0.59
7     0.59
8     0.56
9     0.70
10    0.70
dtype: float64

In [11]:
s.fillna(s.mean())

0     0.500000
1     0.568333
2     0.568333
3     0.520000
4     0.540000
5     0.568333
6     0.568333
7     0.590000
8     0.560000
9     0.568333
10    0.700000
dtype: float64

In [12]:
s

0     0.50
1      NaN
2      NaN
3     0.52
4     0.54
5      NaN
6      NaN
7     0.59
8     0.56
9      NaN
10    0.70
dtype: float64

In [14]:
#ffill pega o valor anterior e joga para o valor nulo sucessor a ele
#com limit = 1, ele n√£o pode trocar valores nulos seguidos
s1 = s.fillna(method = 'ffill', limit = 1)

In [15]:
s1

0     0.50
1     0.50
2      NaN
3     0.52
4     0.54
5     0.54
6      NaN
7     0.59
8     0.56
9     0.56
10    0.70
dtype: float64

In [16]:
s1.fillna(method = 'bfill', limit = 1)

0     0.50
1     0.50
2     0.52
3     0.52
4     0.54
5     0.54
6     0.59
7     0.59
8     0.56
9     0.56
10    0.70
dtype: float64