# Leitura HTML

In [3]:
# Instalando Bibliotecas
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [10]:
url='https://www.federalreserve.gov/releases/h3/current/default.htm'
response = requests.get(url)
html = response.content
soup = BeautifulSoup(html, 'html.parser')
table = soup.findAll('table')
html_file = f'<html><body>{table}</body></html>'
df = pd.read_html(html_file)

In [16]:
#Cada indice nesse caso significaria uma página
df[2]

                  Date Borrowings from the Federal Reserve  \
                  Date                               Total
0              Month 3                             Month 3
1            Aug. 2019                                 117
2           Sept. 2019                                 101
3            Oct. 2019                                  63
4            Nov. 2019                                  26
5            Dec. 2019                                  21
6            Jan. 2020                                   6
7            Feb. 2020                                   3
8            Mar. 2020                               40554
9            Apr. 2020                              124461
10            May 2020                              111845
11           June 2020                               97671
12           July 2020                               92943
13           Aug. 2020                               83126
14                 NaN                                 NaN
15  Two weeks ending 4                  Two weeks ending 4
16       July 15, 2020                               94326
17       July 29, 2020                               92428
18       Aug. 12, 2020                               85636
19       Aug. 26, 2020                               82030
20       Sept. 9, 2020                               80170

                                                                \
               Primary           Secondary            Seasonal
0              Month 3             Month 3             Month 3
1                   16                   0                 101
2                   15                   0                  86
3                    4                   0                  59
4                    4                   0                  22
5                   10                   0                  11
6                    5                   0                   1
7                    3                   0                   0
8                19538                   0                   0
9                38299                   0                   0
10               22180                   0                   2
11                8456                   0                  11
12                4670                   0                  26
13                2851                   0                  38
14                 NaN                 NaN                 NaN
15  Two weeks ending 4  Two weeks ending 4  Two weeks ending 4
16                5055                   0                  21
17                4376                   0                  31
18                3111                   0                  37
19                2651                   0                  41
20                2786                   0                  34

                             Nonborrowed reserves 2
   Other credit extensions 1 Nonborrowed reserves 2
0                    Month 3                Month 3
1                          0                1586727
2                          0                1504704
3                          0                1547073
4                          0                1595196
5                          0                1698323
6                          0                1715213
7                          0                1726939
8                      21015                2058816
9                      86162                2829125
10                     89663                3105791
11                     89204                2945885
12                     88248                2625585
13                     80237                2716593
14                       NaN                    NaN
15        Two weeks ending 4     Two weeks ending 4
16                     89251                2701459
17                     88021                2531099
18                     82488                2665489
19                     79339                2739710
20                     77350                2774520

In [20]:
type(df)

list