In [1]:
#Crie uma nova coluna com a média de 3 notas de cada aluno

In [2]:
import pandas as pd

In [3]:
boletim = ({
    'Aluno' : ['Márcia', 'Lucas', 'Ana', 'Flávio'],
    'Nota_1' : [10, 8, 5, 4],
    'Nota_2' : [7, 4, 8, 5],
    'Nota_3' : [6, 7, 4, 9]
})

In [4]:
data = pd.DataFrame(boletim)

In [5]:
data

    Aluno  Nota_1  Nota_2  Nota_3
0  Márcia      10       7       6
1   Lucas       8       4       7
2     Ana       5       8       4
3  Flávio       4       5       9

In [10]:
data['Nota_media'] = ((data['Nota_1'] + data['Nota_2'] + data['Nota_3']) / 3).round(2)

In [11]:
data

    Aluno  Nota_1  Nota_2  Nota_3  Nota_media
0  Márcia      10       7       6        7.67
1   Lucas       8       4       7        6.33
2     Ana       5       8       4        5.67
3  Flávio       4       5       9        6.00